@media only screen and (max-width: 768px) {
  header .navbar-brand {
    font-size: 1.5rem;
    padding-left: 1rem;
  }
  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }
  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }
  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }
  .numbers .rect h1 {
    font-size: 2rem;
  }

  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }
  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }
  .section-3 .platform .col-md-6 {
    text-align: center !important;
  }
  .section-3 .desktop {
    margin-bottom: 10vmin;
  }
  .section-3 .desktop i {
    font-size: 8vmin;
  }
  .section-4 .carousel-item {
    padding-left: 0.6rem;
  }
  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
  .section-4 .card {
    width: 21em;
  }
}
@media only screen and (max-width: 480px) {
  .section-4 .card {
    width: 18em;
  }
header .navbar-brand {
    font-size: 1.0rem;
    padding-left: 0rem;
  }
}

/* screen size 375px */

@media only screen and (max-width: 375px) {
  .section-4 .card {
    width: 21em;
  }
header .navbar-brand {
    font-size: 1.0rem;
    padding-left: 0rem;
  }
}

@media only screen and (max-width: 320px) {
  .section-4 .carousel-inner {
    margin-left: -4vmin;
  }
header .navbar-brand {
    font-size: 1.0rem;
    padding-left: 0rem;
  }
}
